<div class="row">
  <div class="col-md-12">
    <div>
      <h4>
        Books
        <a
          [routerLink]="'/book/book-create'"
          class="btn btn-sm btn-primary float-end"
          ><i class="fa fa-plus"></i> Create</a
        >
      </h4>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <p class="mt-2" *ngIf="!booksList || booksList.length < 1">
          List is empty
        </p>
        <div class="table-responsive" *ngIf="booksList && booksList.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 80px"></th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let el of booksList; let i = index">
                <td>
                  <a
                    class="btn btn-outline-secondary btn-sm"
                    [routerLink]="['/book/book-update', el._id]"
                    title="View Customer"
                  >
                    <i class="bi bi-pencil"></i>
                  </a>
                </td>
                <td>{{ el.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
